:root {
  color-scheme: dark;

  --border-slim: 1px solid;
  --text-color-primary: white;
  --font-size-system: 0.8rem;
  --chat-padding: 1rem;
  --radius: 0.4rem;

  --color-gray-light: #3c3c3c;
  --color-gray: #353535;
  --color-gray-darker: #141414;
  --color-gray-darkest:#0e0e0e;
}

.app {
  background-color: #0a0a0a;
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.loading {
  display: grid;
  gap: 0.5rem;
  place-items: center;
}

.caret {
  margin: 0 0.4rem;
  color: var(--text-color-primary);
  opacity: 0.3;
  letter-spacing: -0.2ch;
  user-select: none;
}

.txt-system {
  color: var(--text-color-primary);
  font-size: var(--font-size-system);

  &_nonselectible {
    user-select: none;
  }

  &_size_sm {
    font-size: 0.7rem;
  }

  &_dimmed {
    opacity: 0.3;
  }
}

.btn-txt {
  background: none;
  border: none;
  cursor: pointer;

  &_pulsating {
    animation: pulse 1.5s ease-in-out none infinite alternate;
  }
}

.btn-scroll-down {
  position: sticky;
  bottom: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  margin: -2rem;
  border-radius: 50%;
  font-size: 0.7rem;
  float: right;

  background:#0f0f0f;
  color: var(--text-color-primary);
  border: var(--border-slim) var(--color-gray-light);
  transition: transform 1s;

  visibility: hidden;
  opacity: 0;
  

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  &_visible {
    animation: 0.5s ease 1s fade-in;
    animation-fill-mode: forwards;
  }
}

.placeholder {
  display: grid;
  place-items: center;
}

.status-light {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;

  background-color: greenyellow;
  
  &_inactive {
    background-color: #ff3300;
  }
}

.chat {
  position: relative;
  width: 550px;
  height: 800px;
  background-color: #0f0f0f;
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  box-shadow: 0 0 10px 10px #080808;

  border: var(--border-slim) var(--color-gray-darker);

  @media screen and (max-width: 30rem) {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  &__status {
    height: 2rem;
    padding: 0 var(--chat-padding);
    border-radius: var(--radius);
    display: grid;
    gap: 0.5rem;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  &__status-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__feed {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    
    padding: var(--chat-padding);

    &::-webkit-scrollbar {
      // display: none;
    }
  }

  &__input {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr auto;
    border-top: var(--border-slim) var(--color-gray-darker);
  }
  
  &__input-text {
    height: 2rem;
    max-height: 5rem;
    padding: 0.4rem var(--chat-padding);
    border: none;    
    background: var(--color-gray-darkest);
    color: var(--text-color-primary);
    resize: none;
    white-space: pre-line;
  }
  
  &__input-btn {
    align-self: flex-end;
    height: min(2rem, 100%);
    width: 4rem;
    border: none;
    background: var(--color-gray-darker);
    font-size: 0.5rem;
    color: var(--text-color-primary);

    display: grid;
    place-items: center;

    &:active {
      opacity: 0.5;
    }
  }
}

.messages-list {
  min-height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  gap: 0.8rem;
}

.message {
  padding: 0.5rem;
  width: fit-content;
  max-width: 80%;
  border-radius: var(--radius);
  border: var(--border-slim) var(--color-gray-light);
  word-break: break-word;
  white-space: pre-wrap;
  font-size: 0.8rem;
  background: var(--color-gray-darker);

  &_own {
    align-self: end;
    background: var(--color-gray);
  }
}








